*{
    font-family: abcdiatype, 'helvetica neue', Arial, Helvetica, sans-serif;
    margin: 0;
}

body{
    background:  rgb(76, 128, 197);
    height: 100vh;
    
}

.body{
    width: 90%;
    margin:auto;
}
.wrapper{
    width: 100%;

    margin: 0 auto;
    background-color: rgb(76, 128, 197);
    overflow: visible;
    position: fixed;
    top: 0; 
    z-index: 1;
}

.opening{
    height: 300px;
    width: auto;
    background: gray;
    background-image: url("../img/graphics/virtualnetwork.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    padding-left: 0px;    
}

#opening{
    text-align: center;
    padding-top: 300px;
}

.opening h1{
    font-size: 48px;
    color: white;
    text-align: center;
}

.opening h2{
    font-size: 35px;
    color: white; 
}

h3{
    font-size: 20px;
    text-transform: uppercase;
}

/*menu styles*/

nav{
    background: rgb(76, 128, 197);
    width: 100%;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav a{
    text-decoration: none;
    text-align: center;
    color: rgb(14, 41, 56);
    display: block;
    padding: 8px;
}


nav:hover{
    background-color: rgba(37, 83, 143, 0.774);
}

nav a:hover{
    background-color: rgb(105, 153, 216);
    padding: 7px;
}

/*social menu styles*/

a.github{
    background: url("../img/social/github.png") no-repeat center;
    background-size: 155%;
}

a.facebook{
    background: url("../img/social/fb.png") no-repeat center;
    background-size: 120%;
}

a.twitter{
    background: url("../img/social/tw.png") no-repeat center;
    background-size: 100%;
}

a.linkedin{
    background: url("../img/social/linkedin.png") no-repeat center;
    background-size: 120%;
}

a.email{
    background: url("../img/social/email.png") no-repeat center;
    background-size: 100%;
}

.social a{
    text-indent: -10000px;
}

.social{
    max-width: 140px;
    margin: 0 auto; /*when we have a smaller viewport, the logos look large, so we will center and fix the margin*/
    
}

/*links within page*/

a.home{

}

/*flex styles: remember every direct descendant after the flex-container will be a flex item L to R*/

nav ul.social{ /*because the social links have shrunk, we are going to use a flex grow to help*/
    flex: 1 1 0; /*<-With this alone, the logos are too big, so use a max-width property not in the ul tag*/
    display: flex; /*We want to sit the logos L to R instead of top and bottom. Use Display: Flex. But now these are too small, so since the li items become flex items we can target them in separate code using flex on them.*/
}

nav ul.social li{
    flex: 1 1 0; /*The problem with this now is when you increase the window size, the logos sit on the left and indent inside the page because in the .social we had an auto magrin. Fix this by targeting social in the @media section.*/
    padding: 0px 2px;
}

.flex-container{
    display: flex;
    flex-direction: column;
    background: white;
    flex-wrap: wrap;
    padding: 0px 0px;
    margin: 0px;
    position: relative;
}

.flex-container h2{
    color: white;
    margin-left: 30px;
}

.kim{
    height: 400px;
    transform: translatex(50%) translateY(50%) z-index: 0;
    float: right;
}

.flex-container h2{
    font-size: 30px;
    text-indent: 10px;
}

.flex-container p{
    text-indent: 10px;
}

.box{
    height: auto; /*unsure if I should set a px limit for this*/
    flex: 1 0 auto;
    width: auto;
}

.one{
    background: rgb(87, 87, 87);
    float: right;
}

.two{
    background: rgb(66, 66, 66);
}

.three{
    background: rgb(53, 53, 53);
    justify-content: space-between;
}
    .three ul {
        padding-top: 20px;
        list-style-type: none;
    }

    .portfoliolinks ul{
        display: flex;
    }

    .portfolioimg{
        height: 100px;
    }

    .horiseonphoto{
        width: 300px;
        height: 200px;
        padding-bottom: 10px;
    }
    .horiseonphoto img:hover{
        transform:scale(1.1);
    }

    a img:hover{
        transform: scale(1.1);
    }

@media screen and (min-width: 720px){
    nav ul{
        display: flex;
        justify-content: flex-start;
    }
    nav li{
        flex: 1 1 0;
    }
        nav{
            display: flex;
            justify-content: space-between;
        }

        .social{
            margin: 0;
        }
}