*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*menu styles*/

nav{
    background: rgba(141, 96, 38, 0.774);
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav a{
    text-decoration: none;
    text-align: center;
    color: rgb(14, 56, 14);
    display: block;
    padding: 5px;
}

nav:hover{
    background-color: rgba(110, 75, 30, 0.774);
}


@media screen and (min-width: 768px) {
    nav ul{
        display: flex;
        justify-content: flex-start;
    }

    nav li{
        flex: 0 0 1;
        justify-content: space-between;
    }



}